<% provide(:title, @user.name) %>
<div class="row">
	<%= render 'shared/user_options' %>

	<div class="col-md-9 dashboard">
		<h1>Bảng thông tin của tôi</h1>
		
		<div class="dashboard-account row">
			<div class="dashboard-header">
				<h2>Thông tin tài khoản</h2>
				<%= link_to "Chỉnh sửa >", edit_user_path(current_user) %>
			</div>
			<div class="col-md-6 left">
				<table>
					<tbody>
						<tr>
							<td>Họ và tên:</td>
							<td><%= @user.name %></td>
						</tr>
						<tr>
							<td>Email:</td>
							<td><%= @user.email %></td>
						</tr>
						<% if !@user.gender.blank? %>
							<tr>
							<td>Giới tính:</td>
							<td><%= @user.gender %></td>
							</tr>
						<% end %>
						<% if !@user.birthday.nil? %>
							<tr>
							<td>Ngày sinh:</td>
							<td><%= @user.birthday %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="dashboard-header">
			<h2>Sổ địa chỉ</h2>
			<%= link_to "Xem tất cả >", '' %>
		</div>
		<div class="dashboard-address">
			<div class="panel panel-default item col-md-6">
				<div class="panel-body">
					<p class="name"><%= @user.name %></p>
					<p class="address">Địa chỉ: <%= %></p>
					<p class="phone">Điện thoại: <%=  %></p>
					<p class="action">
						<%= link_to "Chỉnh sửa", '', class: 'btn btn-default' %>
					</p>
				</div>
			</div>

		</div>
	</div>
</div>
