<% provide(:title, "Sổ địa chỉ") %>
<h1>Sổ địa chỉ</h1>

<div class="row">
	<div class="col-md-3">
		<div class="user_info">
			<%= gravatar_for @user, size: 50 %>
			<p>Tai khoan cua</p>
			<h5 class='name'> <%= @user.name %> </h5>
		</div>
		<!-- Single button -->
		<div class="">
			<ul>
				<li><%= link_to "Thông tin tài khoản", "" %></li>
				<li><%= link_to "Chỉnh sửa thông tin", edit_user_path(current_user) %></li>
				<li><%= link_to "Sổ địa chỉ", "" %></li>
				<li><%= link_to "Đơn hàng của tôi", "" %></li>
			</ul>
		</div>
	</div>

	<div class="col-md-9">
		<div class="dashboard-header">
			<h2>Sổ địa chỉ</h2>
			<%= link_to "Xem tất cả >", '' %>
		</div>
		<div class="dashboard-address">
			<div class="panel panel-default item col-md-6">
				<div class="panel-body">
					<p class="name"><%= @user.name %></p>
					<p class="address">Địa chỉ: <%= %></p>
					<p class="phone">Điện thoại: <%=  %></p>
					<p class="action">
						<%= link_to "Chỉnh sửa", '', class: 'btn btn-default' %>
					</p>
				</div>
			</div>

			<div class="panel panel-default item col-md-6">
				<div class="panel-body">
					<p class="name"><%= @user.name %></p>
					<p class="address">Địa chỉ: <%= %></p>
					<p class="phone">Điện thoại: <%=  %></p>
					<p class="action">
						<%= link_to "Chỉnh sửa", '', class: 'btn btn-default' %>
					</p>
				</div>
			</div>
		</div>r
	</div>
</div>