<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">

	<div class="col-md-3">
		<div class="user_info">
			<%= gravatar_for @user, size: 50 %>
			<p>Tai khoan cua</p>
			<h5 class='name'> <%= @user.name %> </h5>
		</div>
		<!-- Single button -->
		<div class="">
			<ul>
				<li><%= link_to "Thông tin tài khoản", "https://google.com" %></li>
				<li><%= link_to "Chỉnh sửa thông tin", edit_user_path(current_user) %></li>
				<li><%= link_to "Sổ địa chỉ", "" %></li>
				<li><%= link_to "Đơn hàng của tôi", "https://google.com" %></li>
			</ul>
		</div>
	</div>

	<div class="col-md-6">
		<%= form_for(@address_list) do |f| %>
			<%= render 'shared/error_messages' %>
			
			<%= f.label :phone, "Số điện thoại" %>
			<%= f.text_field :phone_number, class: 'form-control' %>

			<%= f.label :province %>
			<%= f.collection_select :id, Province.all, :id, :name, prompt: true%>

			<%= f.label :address, "Địa chỉ" %>
			<%= f.text_area :address, class: 'form-control' %>

			<%= f.submit "Save changes", class: "btn btn-primary" %>
		<% end %>

		<div class="gravatar_edit">
			<%= gravatar_for @user %>
			<a href="http://gravatar.com/emails" target="_blank">change</a>
		</div>
	</div>
</div>