<% provide(:title, "Thêm địa chỉ") %>
<h1>Thêm địa chỉ</h1>

<div class="row">

	<%= render 'shared/user_options' %>

	<div class="col-md-6">
		<%= form_for(@address_list) do |f| %>
			<%= render 'shared/error_messages' %>
			
			<%= f.label :phone, "Số điện thoại" %>
			<%= f.text_field :phone_number, class: 'form-control' %>

			<%= f.label :province %>
			<%= f.collection_select :id, Province.all, :id, :name, prompt: true%>

			<%= f.label :district %>
			<%= f.collection_select :id, District.all, :id, :name, prompt: true%>

			<%= f.label :province %>
			<%= f.collection_select :id, Ward.all, :id, :name, prompt: true%>

			<%= f.label :address, "Địa chỉ" %>
			<%= f.text_area :address, class: 'form-control' %>

			<%= f.submit "Save changes", class: "btn btn-primary" %>
		<% end %>

		<div class="gravatar_edit">
			<%= gravatar_for @user %>
			<a href="http://gravatar.com/emails" target="_blank">change</a>
		</div>
	</div>
</div>