<header class="navbar navbar-fixed-top navbar-inverse", id="headd">
<div class="container">
    <%= link_to "Online Store", root_path, id: "logo" %>
    <nav>
        <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Trang chur", '/home' %></li>
        <li><%= link_to "Help", '#' %></li>
        <li><%= link_to "Sign in", '#' %></li>
        <li><%= link_to "Sing up", 'signup' %></li>
        </ul>
    </nav>
</div>
</header>